# Chapter 2: Python Language Basics.

In [ ]:
import numpy as np

In [2]:
np.*load*?

In [5]:
a = [1,2,3]

In [7]:
b = a

In [8]:
b

[1, 2, 3]

In [9]:
a.append(4)

In [10]:
b

[1, 2, 3, 4]

In [15]:
data = [1,2,3]

def append_element(some_list, element):
    some_list.append(element)
    
append_element(data, 5)

In [16]:
data

[1, 2, 3, 5]

In [19]:
a = 4.5
b = 2

print(f'a is {type(a)}, b is {type(b)}')

a is <class 'float'>, b is <class 'int'>

In [22]:
isinstance(a, (int,float))

True

In [23]:
a ='foo'

In [24]:
a.#press tab

'FOO'

In [25]:
getattr(a,'split')

In [26]:
def isiterable(obj):
    try:
        
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [27]:
isiterable('a')

True

In [28]:
isiterable(5)

False

In [29]:
isiterable([1,2,3])

True

In [33]:
a = True
b = False

In [34]:
a and b

False

In [35]:
a ^ b

True

In [38]:
c = True
d = True
c ^ d
# ^ boolean = True when a or  b is True but not both!

False

In [41]:
a = 5

In [43]:
b = a

In [45]:
a is b # comes true when both a and b refer to same object
# and vice versa with
a is not b # if do not refer to same object then comes true

True

In [46]:
a is not b

False

In [47]:
a == b

True

In [48]:
# multiline string
c = """
    line 1
    line 2
    """

In [49]:
c.count('\n')

3

In [51]:
a = " hello"
a[2] = 'i'
# immutable

TypeError: 'str' object does not support item assignment

In [52]:
a = a.replace("hello", "bello")
#use function/method to create new string

In [53]:
a

' bello'

In [54]:
# string is a sequence of unicode characters
a = "python"
list(a)

['p', 'y', 't', 'h', 'o', 'n']

In [56]:
a[:3] # slicing

'pyt'

In [57]:
s = "12\\13" # '\' is an escape character
print(s)

12\13

In [59]:
# concatenate string
a = "i am first "
b = "i am 2nd"

a + b

'i am first i am 2nd'

In [65]:
# string templating
template = "{0:.2f} {1:s} are worth US${2:d}"
# {0.2f} = format first argument as floating point with two decimal places
# {1:s} = format 2nd argument as string
# {2:d} = format 3rd argument as exact integer
template.format(88.4645, "saqib fayaz", 121)

'88.46 saqib fayaz are worth US$121'

In [69]:
# f-strings

amount = 10

rate = 80.46

currency = "INR"

result = f"{amount} {currency} is worth US${amount/rate}"

result

'10 INR is worth US$0.12428535918468805'

In [71]:
# adding a format specifier to make US$ more readable
result = f"{amount} {currency} is worth US${amount/rate:.2f}"

result

'10 INR is worth US$0.12'

In [72]:
int(False)

0

In [73]:
int(True)

1

In [74]:
a = True
not(a)

False

In [75]:
# Type casting
s = 3.14159

fval = float(s)
type(fval)

float

In [76]:
int(fval)

3

In [78]:
bool(fval)

True

In [79]:
bool(0)

False

In [80]:
# None Type
a = None

a is None

True

In [83]:
b = 5
b is None

False

In [84]:
b is not None

True

`None` is also a common default value for function arguments:

In [94]:
def add_and_maybe_multiply(a, b, c=None):
    result = a + b
    
    if c is not None:
        result = result * c
    return result

In [95]:
add_and_maybe_multiply(1,2)

3

In [96]:
add_and_maybe_multiply(1,2,3)

9

In [97]:
# Dates and times
from datetime import datetime, date, time

In [98]:
dt = datetime(2011, 10, 29, 20, 30, 21)

In [99]:
dt.year

2011

In [100]:
dt.month

10

In [101]:
dt.day

29

In [132]:
dt.hour

20

In [133]:
dt.minute

30

In [134]:
dt.second

21

In [107]:
# extract date object by calling methods on the datetime
dt.date()

datetime.date(2011, 10, 29)

In [108]:
# extract time object by calling methods on the datetime
dt.time()

datetime.time(20, 30, 21)

In [120]:
# the strftime formats a datetime as string
dt.strftime("%Y-%m-%d %H:%M")

'2011-10-29 20:30'

In [128]:
# strip datetime out of strings
datetime.strptime("20091114", "%Y%m%d")

datetime.datetime(2009, 11, 14, 0, 0)

In [130]:
dt_hour = dt.replace(minute=0,second=0)

In [131]:
dt_hour

datetime.datetime(2011, 10, 29, 20, 0)

In [135]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

The difference of two `datetime` objects produces a `datetime.timedelta` type:

In [136]:
dt2 = datetime(2011, 11, 15, 22, 30)

In [138]:
delta = dt2 - dt

In [139]:
delta

datetime.timedelta(days=17, seconds=7179)

In [140]:
type(delta)

datetime.timedelta

In [141]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [142]:
# Adding a timedelta to a datetime produces a new shifted datetime:
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

In [145]:
# Control Flow

a = 5; b = 7
c = 8; d = 4

if a < b or c > d:
    print("Made It!")

Made It!

In this example , the comparison `c > d` never gets evaluated because the first comparison was `True`

In [146]:
#for loops

`for` loops are for iterating over a collection (like a `list` or `tuple` or an `iterator`.

In [157]:
collection = [1,2,3]
for value in collection:
    print("iterated 3 times")

iterated 3 times
iterated 3 times
iterated 3 times

you can advance a `for` loop to the next itertion, skipping the remainder of the block, using the `continue` keyword.

In [158]:
sequence = [ 1 ,2, None, 4, None, 5]
total = 0
for value in sequence:
    if value is None:
        continue
    total += value
total
# here we skipped the None Value

12

A `for` loop can be **exited** altogether with the `break` keyword.

In [159]:
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
    if value == 5:
        break
    total_until_5 += value
total_until_5

13

The `break` keyword only terminates the innermost `for` loop; any outer `for` loops will continue to **run**:

In [4]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [5]:
# While loops

A `while` **loop** specifies a **condition** and a block of code that is to be executed **until** the **condition** evaluates to `False` or the **loop** is explicitely ended with `break`:

In [16]:
x = 256
total = 0

while x > 0:
    if total > 500:
        break
    total += x
    #print(total, x) used for debugging
    
    x = x // 2
total

504

In [8]:
x

4

In [18]:
# range

the `range` function generates a sequence of evenly spaced integers:

In [17]:
range(10)

range(0, 10)

In [19]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

A `start`, and `end`, and `step`(which may be negative) can be given: (`range`(`start`,`end`,`step`))

In [20]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [21]:
list(range(5,0,-1))

[5, 4, 3, 2, 1]

In [25]:
# common usecase of range

seq = [1,2,3,4]
#print(len(seq))
for i in range(len(seq)):
    #print(i)
    print(f"element {i}: {seq[i]}")

element 0: 1
element 1: 2
element 2: 3
element 3: 4

In [29]:
# This snippet sums all numbers from 0 to 99,999 that are multiples of 3 or 5:
total = 0
for i in range(100000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        total += i
total

2333316668

# Chapter 3: Built-In Data Structures, Functions, and Files.

 Data Structures and Sequences

A `tuple` is a fixed-length, immutable sequence of Python `objects` which, once assigned, cannot be changed.

In [31]:
tup = (4, 5, 6)

In [32]:
tup

(4, 5, 6)

In [33]:
# or we could have written it without parentheses.
tup = 4, 5, 6
tup

(4, 5, 6)

In [34]:
# you can convert any sequence or iterator to a tuple by invoking tuple

In [35]:
tuple([4,5,6])

(4, 5, 6)

In [36]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [37]:
tup[0]

's'

In [38]:
nested_tuple = (4, 5, 6), (7, 8)

In [39]:
nested_tuple

((4, 5, 6), (7, 8))

In [40]:
nested_tuple[0]

(4, 5, 6)

In [42]:
nested_tuple[1]

(7, 8)

In [43]:
nested_tuple[1][1]

8

**Note** `tuple` itself is not mutable, but! if the `object` inside the `tuple` is mutable then you can `append` that particular `object`

In [48]:
# eg
tup = ('foo', [1,2], True)
tup[2] = False # it will show error

TypeError: 'tuple' object does not support item assignment

In [49]:
# but 
tup[1].append(3)
# it will execute because the object itself is appendable
tup

('foo', [1, 2, 3], True)

In [51]:
# we can concatenate a tuple too
(1, 2, 3) + ('a', 'b', 4) + ('d', 5, 'e')

(1, 2, 3, 'a', 'b', 4, 'd', 5, 'e')

In [56]:
# multiplying a tuple with integer copies the tuple itself

(1,2,3) * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

**Note**: objects themselves are not copied, only the refrences to them.

In [57]:
# unpacking tuples
tup = (1, 2, 3)
a, b, c = tup
c

3

In [60]:
tup = (1, 2, (3, 4))
a, b, (c, d) = tup

In [61]:
c

3

usning this functionality you can easily swap variable names, a task that in many languages looks like:

In [62]:
tmp = a
a = b
b = tmp

In [64]:
# but in python , the swap can be done like this.
a, b = 1, 2

In [65]:
a

1

In [66]:
b

2

In [67]:
b, a = a, b

In [68]:
a

2

In [69]:
b

1

A common use of variable unpacking is iterating over sequences of tuples or lists:

In [75]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print (f'a ={a}, b={b}, c={c}')

a =1, b=2, c=3
a =4, b=5, c=6
a =7, b=8, c=9

In [76]:
values = (1, 2, 3, 4, 5)

In [83]:
a, b, *rest = values

In [84]:
a

1

In [85]:
b

2

In [87]:
rest

[3, 4, 5]

In [88]:
a = (1,2,2,2,2,3,3,2,3,4,2,4,2,44,4,2,2,42,4453,2,2)

In [89]:
a.count(2)

11

**List** In contrast with tuples, lists are variable length and their contents can be **modified** in place. `lists` are **mutable** . You can define them using brackets **[ ]** or using the `list` type function:

In [90]:
a_list = [2, 3, 4, None]

In [91]:
tup = ('a', 'b', 'c')

In [92]:
b_list = list(tup)

In [93]:
b_list

['a', 'b', 'c']

In [95]:
b_list[1] = 'X'

In [96]:
b_list

['a', 'X', 'c']

`list` and `tuple` are semantically similar (though `tuple` cannot be modified) and can be used interchangeably in many functions.

In [97]:
# eg 
gen = range(10)

In [99]:
gen

range(0, 10)

In [100]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [103]:
# adding and removing elements in a list
b_list.append('d') #adds value at the end

In [104]:
b_list

['a', 'X', 'c', 'd', 'd']

In [105]:
# using insert to ad value in a list at a specific place
b_list.insert(4, 'e')

In [106]:
b_list

['a', 'X', 'c', 'd', 'e', 'd']

In [109]:
b_list.pop(5) # removes by location

'd'

In [110]:
b_list

['a', 'X', 'c', 'd', 'e']

In [111]:
b_list.remove("X")

In [113]:
b_list

['a', 'c', 'd', 'e']

In [117]:
# check if value is present
"a" in b_list

True

In [115]:
"X" in b_list

False

In [119]:
"X" not in b_list

True

In [120]:
[1, 2, 3] + ["a", "b", "c", ("D", "E")]

[1, 2, 3, 'a', 'b', 'c', ('D', 'E')]

In [121]:
x = [1, "b", 2]

In [122]:
x.extend([3, "c", ("d", 4)])

In [123]:
x

[1, 'b', 2, 3, 'c', ('d', 4)]

In [162]:
# sorting

a = [2,5,3,7,5,4,9,2,6,0,6,4,3,2,1,7,5,4,3,6]
a.sort()

In [163]:
a

[0, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5, 6, 6, 6, 7, 7, 9]

In [164]:
# we can pass a secondary "sort key"

In [174]:
b = ["saw", "small", "he", "foxes", "six"]

In [175]:
b.sort(key=len)

In [176]:
b

['he', 'saw', 'six', 'small', 'foxes']

In [177]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [179]:
seq[3:5] =  [6,3]

In [180]:
seq

[7, 2, 3, 6, 3, 6, 0, 1]

In [181]:
seq[:5]

[7, 2, 3, 6, 3]

In [182]:
seq[3:]

[6, 3, 6, 0, 1]

In [183]:
seq[-4:]

[3, 6, 0, 1]

In [184]:
seq[-6:-2]

[3, 6, 3, 6]

In [186]:
seq[-8]

7

## Dictionary
`dictionary` or sometimes called `hash maps`or `associative arrays`. The `Dictionary` stores  collection of **key-value** pairs, where `key` and `value` are Python `object`. Created by using **{ : }**, colons **' : '** are used to seperate keys and values.

In [187]:
empty_dict = {}
d1 = {"a": "some value", "b": [1,2,3,4]}

In [188]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [189]:
d1[7] = "an integer"

In [190]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [191]:
d1["b"]

[1, 2, 3, 4]

In [192]:
# you can check if a dictionary contains a key

"b" in d1

True

In [194]:
d1["pop"] = "dummy popped"

In [195]:
d1["del"] = "dummy delete"

In [196]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'pop': 'dummy popped',
 'del': 'dummy delete'}

In [197]:
d1.pop('pop')

'dummy popped'

In [198]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 'del': 'dummy delete'}

In [202]:
del d1["del"]

In [203]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [204]:
retrieve = d1.pop('b')

In [205]:
retrieve

[1, 2, 3, 4]

In [206]:
type(retrieve)

list

In [208]:
list(d1.keys())

['a', 7]

In [209]:
list(d1.values())

['some value', 'an integer']

**Note:** If you need to iterate over both they `keys` and `values`, you can use the `items` method to **iterate** over the `keys` and values as 2-tuples

In [210]:
list(d1.items())

[('a', 'some value'), (7, 'an integer')]

In [211]:
d1.update({"a" : "other value", 7.1 : "float"})

In [212]:
d1

{'a': 'other value', 7: 'an integer', 7.1: 'float'}

In [227]:
# Creating dictionary from sequences
key = (1,2)
value = ("a", "b")
mapping = {}
for key,value in zip(key, value):
    mapping[key] = value

In [228]:
mapping

{1: 'a', 2: 'b'}

In [229]:
tuples = zip(range(5), reversed(range(5)))

In [230]:
tuples

In [231]:
mapping = dict(tuples)

In [232]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [ ]:
# Default Values

if key in some_dic:
    value = some_dict[key]
else:
    value = fefault_value

In [239]:
words = ["apple", "bat", "bar", "atom", "book"]
by_letter = {}

for word in words:
    letter = word[0]
    #print(letter)
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

a
b
b
a
b

In [238]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [ ]:
# the setdefault dictionary method can be used to simplify this workflow.
# the preceding for loop can be rewritten as:

In [241]:
by_letter = {}

for word in words:
    letter= word[0]
    by_letter.setdefault(letter,[]).append(word)

In [242]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [243]:
# doing same thing using collection module

In [244]:
from collections import defaultdict
by_letter = defaultdict(list)

for word in words:
    by_letter[word[0]].append(word)

In [245]:
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

## hashability

keys in dictionary are generally hashable that means they are immutable eg `str`, `int`, `float` or a `tuple`.

In [249]:
hash("A")

-9093447748592403062

In [253]:
hash((1,2, (3,4)))

3794340727080330424

In [256]:
hash(1)

1

In [257]:
hash((1,2,[3,4])) # this will show error because the list inside a 
# tuple is mutable and not hashable

TypeError: unhashable type: 'list'

In [258]:
# to use list as a key, convert it to tuple
d = {}
d[tuple([1,2,3])] = 5

In [260]:
d['1'] = 1

In [261]:
d

{(1, 2, 3): 5, '1': 1}

In [262]:
del d['1']

In [263]:
d

{(1, 2, 3): 5}

A `set` is an **unordered collection of unique elements.** A `set` can be created  in two ways: via `set` function  or via `set literal` with curly braces `{ }`.

In [264]:
set([2, 2, 1, 1, 6, 0])

{0, 1, 2, 6}

In [265]:
{1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6}

{1, 2, 3, 4, 5, 6}

`set` support mathematical `set operations` like `union`, `intersection`, `difference`, and `symmetric difference`.

In [274]:
#eg

a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [275]:
a.union(b) # set of distict elements present in either list.   '|' = binary operator for union

{1, 2, 3, 4, 5, 6, 7, 8}

In [276]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [277]:
a.intersection(b) # contains elements occuring in the both sets. '&' = binary operator for intersection.

{3, 4, 5}

In [278]:
a & b

{3, 4, 5}

In [279]:
a.add(6)

In [280]:
a

{1, 2, 3, 4, 5, 6}

In [281]:
a.difference(b)

{1, 2}

In [282]:
a ^ b  # all the elements in either a or b but not both.

{1, 2, 7, 8}

In [283]:
c = a.copy()

In [284]:
c

{1, 2, 3, 4, 5, 6}

In [285]:
c |= b

In [286]:
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [287]:
d = a.copy()

In [288]:
d &= b

In [289]:
d

{3, 4, 5, 6}

Like `dictionary keys`, `set` elements generally must be **immutable**, and they must be **hashable** (which means that calling `hash` on a value does not raise an exception). In order to store list-like elements (or other mutable sequences) in a set, you can convert them to `tuple`:

In [290]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [291]:
a

{1, 2, 3, 4, 5, 6}

In [292]:
{1, 2, 3}.issubset(a)

True

In [293]:
a.issuperset({1, 2, 3})

True

In [296]:
{1, 2, 3} == {3, 2, 1} # sets are equal if and only if their contents are equal'

True

# Built-In Sequence Functions

**enumerate**:
It’s common when iterating over a sequence to want to keep track of the index of the current item. A do-it-yourself approach would look like:

In [ ]:
index = 0
for value in collection:
    # do something with value:
    index += 1

Since this is so common, Python has a built-in function, `enumerate`, which returns a
sequence of (i, value) `tuples`:

In [ ]:
for index, value in enumerate(collection):
    # do something with value

In [297]:
#sorted
sorted([7, 5, 8, 4, 3, 6, 2, 1, 4, 6, 2])

[1, 2, 2, 3, 4, 4, 5, 6, 6, 7, 8]

In [298]:
sorted("running cat")

[' ', 'a', 'c', 'g', 'i', 'n', 'n', 'n', 'r', 't', 'u']

In [299]:
# zip

seq1 = ["a", "b", "c"]
seq2 = [1, 2, 3]

zipped = zip(seq1, seq2)

In [301]:
list(zipped)

[('a', 1), ('b', 2), ('c', 3)]

In [304]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3)) # no of element in zip producted is determined by the shortest sequence
# eg. seq3 in above example

[('a', 1, False), ('b', 2, True)]

A common use of `zip` is simultaneously iterating over multiple sequences, possibly also combined with `enumerate`:

In [305]:
for index, (a, b) in enumerate(zip(seq1, seq2)):
    print(f"{index}: {a}, {b}")

0: a, 1
1: b, 2
2: c, 3

In [306]:
# reversed
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

Keep in mind that `reversed` is a **generator** , so **it does not create the reversed sequence until materialized** (e.g., with list or a for loop).

## List, Set, and Dictionary Comprehensions
[expr for value in collection if condition]

In [ ]:
#eg
result = []
for value in collection:
    if condition:
        result.append(exp)

The filter condition can be omitted, leaving only the expression. For example, given a list of strings, we could filter out strings with length 2 or less and convert them to uppercase like this:

In [308]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

In [311]:
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

`Set` and `dictionary` comprehensions are a natural extension, producing sets and dic‐
tionaries in an idiomatically similar way instead of lists.

dict-comp: {key-expr: value-expr for value in collection
            if condition }

A set comprehension looks like the equivalent list comprehension except with curly braces instead of square brackets:

set_comp = {expr for value in collection if condition}

In [312]:
unique_lengths = {len(x) for x in strings}

In [313]:
unique_lengths

{1, 2, 3, 4, 6}

We could also express this more functionally using the `map` function, introduced shortly:

In [314]:
set(map(len, strings))

{1, 2, 3, 4, 6}

As a simple `dictionary` comprehension example, we could create a lookup `map` of these strings for their locations in the list:

In [319]:
loc_mapping = {value: index for index, value in enumerate(strings)}

In [320]:
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [334]:
# nested list comprehensions

all_data = [["John", "Emily", "Danish", "Furqan", "Abid", "aalam"], ["Lalam", "Hamna", "Laiba", "Anesa"]]
names_of_interest = []
for names in all_data:
    enough_a = [name for name in names if name.count("a") >= 2]
    names_of_interest.extend(enough_a)

In [332]:
names_of_interest

['aalam', 'Lalam', 'Hamna', 'Laiba']

You can actually wrap this whole operation up in a single nested `list` comprehension, which will look like:

In [339]:
result = [name for names in all_data for name in names if name.count("a") >= 2]

In [340]:
result

['aalam', 'Lalam', 'Hamna', 'Laiba']

In [336]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]

In [337]:
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Keep in mind that the **order** of the `for` expressions would be the **same** if you wrote a **nested for loop** instead of a `list` comprehension:

In [341]:
flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [342]:
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

You can have arbitrarily many levels of nesting, though if you have more than two or three levels of nesting, you should probably start to question whether this makes sense from a code readability standpoint. It’s important to distinguish the syntax just shown from a list comprehension inside a list comprehension, which is also perfectly valid:

In [345]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

This produces a `list` of **lists**, rather than a **flattened list** of all of the inner elements.

## Functions
Functions are the primary and most important **method of code** organization and **reuse** in Python. As a rule of thumb, if you anticipate needing to **repeat the same or very similar code more than once**, it may be worth writing a **reusable function**. Functions can also help make your code more readable by giving a name to a **group of Python statements**.

In [346]:
def my_function(x, y):
    return x + y

In [348]:
my_function(1, 2)

3

There is **no issue with having multiple return statements**. If Python reaches the end of a **function without encountering a return statement**, `None` is returned automatically. For example:

In [349]:
def function_without_return(x):
    print(x)

In [350]:
result = function_without_return("hello!")

hello!

In [351]:
print(result)

None

`function` can have `positional arguments` and `keyword arguments`.

In [352]:
def my_function(x, y, z = 1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [353]:
my_function(3, 4, 1)

0.14285714285714285

In [354]:
my_function(3, 4, 2)

14

In [355]:
my_function(3,4)

10.5

The main **restriction** on **function arguments** is that the **keyword arguments must follow the positional arguments** (if any). You can specify **keyword arguments in any order**. This frees you from having to remember the order in which the function arguments were specified. You need to remember only what their names are.

# Namespaces, Scope, and Local Functions

In [356]:
def func():
    a = []
    for i in range(5):
        a.append(i)

In [357]:
func()

In [359]:
func?

In [369]:
a = []

def func():
    for i in range(5):
        a.append(i)

In [370]:
a

[]

In [371]:
func()

In [373]:
a

[0, 1, 2, 3, 4]

Assigning variables outside of the function’s scope is possible, but those variables
must be declared explicitly using either the global or nonlocal keywords:

In [378]:
a = None

In [380]:
type(a)

NoneType

In [381]:
def bind_a_variable():
    global a
    a = []
bind_a_variable()

In [382]:
print(a)

[]

In [383]:
type(a)

list

In [390]:
# returning multiple values
def f():
    a = 5
    b = 6
    c = 7
    return a,b,c

In [386]:
a, b, c = f()

In [391]:
a

5

In [392]:
b

6

In [393]:
c

7

## Functions Are Objects
Since `Python functions` are `objects`, many constructs can be easily expressed that are difficult to do in other languages. Suppose we were doing some data cleaning and needed to apply a bunch of transformations to the following list of strings:

In [399]:
states = ["   Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda", "south.   carolina###", "West virginia"]

In [421]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub("[!#?]","",value)
        value = value.title()
        result.append(value)
    return result

In [405]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South.   Carolina',
 'West Virginia']

In [406]:
def remove_punctuation(value):
    return re.sub("[!#?]", "", value)

clean_ops = [str.strip, remove_punctuation, str.title]

In [414]:
def clean_string(strings,ops):
    result = []
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)
    return result

In [415]:
clean_string(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South.   Carolina',
 'West Virginia']

A more `functional` pattern like this enables you to easily modify how the `strings` are transformed at a very high level. The `clean_strings` function is also now more reusable and generic.
You can **use functions as arguments to other functions** like the built-in `map` function, which applies a function to a sequence of some kind:

In [423]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south.   carolina
West virginia

# Lambda Functions

In [424]:
def short_function(x):
    return x * 2

In [425]:
equiv_anom = lambda x: x * 2

In [426]:
equiv_anom

In [427]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

In [428]:
ints = [2, 4, 0, 9, 3]

In [429]:
apply_to_list(ints, lambda x: x * 2)

[4, 8, 0, 18, 6]

You could also have written [x * 2 for x in ints], but here we were able to
succinctly pass a custom operator to the `apply_to_list function`.

In [430]:
strings = ["asw", "er", "ewqs", "swd", "eax", "r"]

In [431]:
strings.sort(key = lambda x : len(set(x)))

In [432]:
strings

['r', 'er', 'asw', 'swd', 'eax', 'ewqs']

## Generators
Many objects in Python support **iteration**, such as over **objects in a** `list` or **lines in a file**. This is accomplished by means of the `iterator protocol`, a generic way to make objects iterable. For example, **iterating over a dictionary yields the dictionary keys**:

In [434]:
some_dict = {"a" : 1, "b" : 2, "c" : 3}

In [435]:
for key in some_dict:
    print(key)

a
b
c

When you write for `key` in **some_dict**, the Python interpreter first attempts to create an `iterator` out of **some_dict**:

`generator`can return a sequence of multiple values by pausing and resuming execution each time the generator is used.

In [27]:
def squares(n=10):
    print(f"Generating squares from 1 to {n ** 2}")
    for i in range(1, n + 1):
        yield i ** 2

In [28]:
type(squares())

generator

In [29]:
for x in squares():
    print(x, end= " ")

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [30]:
# Generator expression

In [31]:
gen = (x ** 2 for x in range(100))

In [32]:
type(gen)

generator

In [35]:
# or we could write generator expression by this
def _make_gen_():
    for x in range(100):
        yield x ** 2
gen = _make_gen_()

In [36]:
sum(x ** 2 for x in range(100))

328350

In [37]:
dict((i, i ** 2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [39]:
#itertools module

In [60]:
import itertools

In [67]:
def first_letter(x):
    return x[0]

In [85]:
names = ["Alan", "Adam", "Wes", "Will", "Albert", "Steven"]

In [86]:
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [ ]:
################################################################

In [87]:
# Errors and Exception Handling

In [88]:
float("1.2")

1.2

In [89]:
float("something") # ValueError

ValueError: could not convert string to float: 'something'

In [90]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [91]:
attempt_float("1.2")

1.2

In [92]:
attempt_float("something")

'something'

In [93]:
float((1, 2))

TypeError: float() argument must be a string or a real number, not 'tuple'

In [94]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [95]:
def attempt_float(x):
    try:
        return float(x)
    except (ValueError, TypeError):
        return x

# Numpy Basics

In [96]:
import numpy as np

In [98]:
my_arr = np.arange(1000000)
my_list = list(range(1000000))

In [99]:
#now let's multiply each by sequence 2

In [102]:
%timeit my_arr2 = my_arr * 2

630 µs ± 12.4 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [103]:
%timeit my_list2 = my_list * 2

2.99 ms ± 29.7 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)